@import 'caller';
*{
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, sans-serif;
}
body{
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: $bg-page;
}
h1, h2, h3{
  color: $title;
  font-weight: lighter;
  margin: 0;
}
h3{
  font-size: 0.8rem;
}
p, ul, li{
  color: $text;
  margin: 0;
  font-size: 0.7rem;
  font-weight: 100;
  padding: 2px 0;
}
i.material-icons{
  font-size: 25px;
}

#app {
  width: 100%;
  max-width: 970px;
  height: 100vh;
}
